* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* header  */
.navbar {
  background-color: #3b5d50;
  .container {
    a {
      span {
        color: #ffffff8c !important;
      }
    }
    .navbar-brand {
      font-size: 32px;
      font-weight: 600;
      color: #ffffff;
    }
    ul {
      gap: 10px;
      li {
        margin-right: 20px;
        a {
          color: #ffffff8c !important;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .icons {
        gap: 30px;
        cursor: pointer;
      }
    }
  }
}
/* ------------------------------------------------------------------------------------------------------------------- */
/* hero section */
.hero {
  background: #3b5d50;
  padding: calc(4rem - 30px) 0 0rem 0;
}
@media (min-width: 768px) {
  .hero {
    padding: calc(4rem - 30px) 0 4rem 0;
  }
}
@media (min-width: 992px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}
.hero .intro-excerpt {
  position: relative;
  z-index: 4;
}
@media (min-width: 992px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
}
.hero h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .hero h1 {
    font-size: 54px;
  }
}
.hero p {
  color: #ffffff80;
  margin-bottom: 30px;
}
.hero .hero-img-wrap {
  position: relative;
}
.hero .hero-img-wrap img {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 2;
  max-width: 780px;
  left: -20px;
}
@media (min-width: 768px) {
  .hero .hero-img-wrap img {
    right: 0px;
    left: -100px;
  }
}
@media (min-width: 992px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    position: absolute;
    right: -50px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    right: -100px;
  }
}
.hero .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../imgs/dots-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: -0px;
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap:after {
    top: -40px;
  }
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}
.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}
.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}
.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}
.btn.btn-secondary {
  color: #2f2f2f;
  background: #f9bf29;
  border-color: #f9bf29;
}
.btn.btn-secondary:hover {
  background: #f8b810;
  border-color: #f8b810;
}
.btn.btn-white-outline {
  background: transparent;
  border-width: 2px;
  border-color: #ffffff4d;
}
.btn.btn-white-outline:hover {
  border-color: white;
  color: #ffffff;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* products section  */
.section-title {
  color: #2f2f2f;
}
.product-section {
  padding: 7rem 0;
}
.product-section .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
}
.product-section .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
}
.product-section .product-item h3 {
  font-weight: 600;
  font-size: 16px;
}
.product-section .product-item strong {
  font-weight: 800 !important;
  font-size: 18px !important;
}
.product-section .product-item h3,
.product-section .product-item strong {
  color: #2f2f2f;
  text-decoration: none;
}
.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  display: inline-block;
  background: #2f2f2f;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease;
}
.product-section .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  height: 0%;
  z-index: -1;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
  top: -25px;
}
.product-section .product-item:hover .icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.product-section .product-item:hover:before {
  height: 70%;
}
